.App {
  text-align: center;
}

.navbar {
  padding: 2px;
  display: inline-block;
  margin-left: 250px;
}

.Login {
  text-align: right;
  padding: 2px;
  position: relative;
  margin-left: auto;
  float: right;
  width: 250px;
}









